@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #0F172A;
  --emerald: #10B981;
  --bg: #F8FAFC;
}

html { scroll-behavior: smooth; }
body {
  background-color: #F8FAFC;
  color: #0F172A;
  font-feature-settings: "cv11", "ss01";
}

.text-balance { text-wrap: balance; }

/* scrollbar sutil */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background: #F1F5F9; }
::-webkit-scrollbar-thumb { background: #CBD5E1; border-radius: 8px; }
::-webkit-scrollbar-thumb:hover { background: #94A3B8; }
